/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Golos+Text&display=swap');

*{
    font-family: "Golos Text", sans-serif;
}

/* utility */

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.jc-sbtw{
    justify-content: space-between;
}

.jc-center{
    justify-content: center;
}

.ai-center{
    align-items: center;
}

.realtive{
    position: relative;
}

.absolute{
    position: absolute;
}

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.w-85{
    width: 85%;
}

.auto{
    margin: 0 auto;
}

.mar-t-20{
    margin-top: 20px;
}

.mar-t-40{
    margin-top: 40px;
}

.mar-t-50{
    margin-top: 50px;
}

.mar-t-60{
    margin-top: 60px;
}

.mar-t-80{
    margin-top: 80px;
}

.mar-b-20{
    margin-bottom: 20px;
}

.mar-b-40{
    margin-bottom: 40px;
}

.mar-b-50{
    margin-bottom: 50px;
}

.mar-b-60{
    margin-bottom: 60px;
}

.mar-b-80{
    margin-bottom: 80px;
}

.pad-t-40{
    padding-top: 40px;
}

.pad-t-50{
    padding-top: 50px;
}

.pad-b-40{
    padding-bottom: 40px;
}

.pad-b-50{
    padding-bottom: 50px;
}

.txt-al-center{
    text-align: center;
}


/* body */
body{
    width: 100%;
}


/* header */
header{
    background-color: rgb(52, 133, 245);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    color: white;
    padding: 1.20rem 2.5rem;
}

.menu{
    display: none;
}

.menu li a{
    text-decoration: none;
    color: white;
}

/* main */

/* application */
#application{
    padding: 2.3rem;
}

.container{
    max-width: 1200px;
}

.bbg{
    background-color: rgb(188, 221, 252);
    color: rgb(52, 133, 245);
}

.bt{
    color: black;
}

.card{
    flex-basis: 100%;
    padding: 1.5rem;
    border-radius: 0.9rem;
    text-align: center;
    margin-bottom: 2rem;
}

#application .card:first-child{
    text-align: left;
    padding-bottom: 0;
}

#application .card:first-child i{
   font-size: 1.25rem;
}

#application button{
    background-color: rgb(52, 133, 245);
    padding: 0.8rem 4.2rem;
    border-radius: 1.5rem;
    border: none;
}

#application button a{
    color: white;
    text-decoration: none;
}

.card img{
    margin-top: 1.25rem;
}

img{
    width: 60%;
    display: block;
}

.card i{
    font-size: 3rem;
}

.fa-apple{
    margin-right: 10px;
}

.big div:nth-child(3){
    margin-top: 2rem;
}

.small i, h2{
    margin-bottom: 2rem;
}

#application p{
    line-height: 35px;
}

/* planning */
#planning{
    background-color: rgb(149, 148, 222);
    color: white;
    padding: 2.3rem;
}

#planning img{
    width: 100%;
}

.planning{
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
}

#planning p{
    line-height: 35px;
}

#planning .col{
    padding: 2rem;
}

.container-1000{
    max-width: 1000px;
}

.col-white{
    background-color: white;
    color: black;
    border-radius: 0.9rem;
}

.buttonviolet{
    background-color: rgb(149, 148, 222);
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    margin-top: 2rem;
}

/* partners */
#partners{
    padding: 2.3rem;
}

#partners h5{
    margin-top: 2.3rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

#partners h2{
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: rgb(149, 148, 222);
}

#testimonial p{
    line-height: 35px;
    margin-bottom: 3rem;
}

#partners img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    width: 190px;
    aspect-ratio: 1;
}

.partcard{
    background-color: rgb(149, 148, 222);
    margin-bottom: 2rem;
    border-radius: 0.9rem;
    padding: 2rem;
    color: white;
}

.quotes:before{
    content: "\f10d";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    margin-right: 5px;
}

.quotes:after{
    content: "\f10e";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    margin-left: 5px;
}

.quotes{
    line-height: 35px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* benefits */
#benefits{
    padding: 2.3rem;
    background-color: rgb(149, 148, 222);
}

.card-ben{
    background-color: white;
    border-radius: 0.9rem;
    padding: 1.6rem;
    margin-bottom: 2rem;
}

.card-ben div, h3{
    color: rgb(149, 148, 222);
}

.card-ben div{
    margin-top: 1rem;
    margin-bottom: 1.8rem;
    font-size: 4rem;
}

#benefits h3{
    font-size: 2rem;
}

#benefits p{
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

#benefits h2{
    margin-bottom: 4.3rem;
    margin-top: 2rem;
    color: white;
    font-size: 3rem;
}

.card-ben p{
    line-height: 30px;
}

#benefits button{
    background-color: rgb(149, 148, 222);
    padding: 0.8rem 2.2rem;
    border-radius: 1.5rem;
    border: none;
}

#benefits button a{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

/* about us */
#aboutus{
    padding: 2.3rem;
}

#aboutus h2{
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    color: rgb(149, 148, 222);
    font-size: 4rem;
}

#aboutus p{
    line-height: 40px;
}

#aboutus p:nth-child(3){
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#aboutus img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    width: 220px;
    aspect-ratio: 1;
}

.help{
    color: rgb(149, 148, 222);
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#aboutus button{
    background-color: rgb(149, 148, 222);
    padding: 0.8rem 2.2rem;
    border-radius: 1.5rem;
    border: none;
}

#aboutus button a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}


/* get started */
.getstarted{
    background-color: rgb(149, 148, 222);
    color: white;
}

.opacy{
    opacity: 0.6;
}

.getstarted h2{
    font-size: 2.5rem;
}

.free{
    color:rgb(244, 194, 111);
    font-size: 5rem;
}

.freebutton{
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
    border: none;
}

.freebutton a{
    text-decoration: none;
    color: rgb(149, 148, 222);
    font-size: 1.5rem;
}

.getstarted i{
    font-size: 0.4rem;
}

.copy a{
    color: white;
}


/* footer */
footer{
    background-color: rgb(51, 51, 51);
    color: white;
}

/* media query */

/* tablet */
@media screen and (min-width: 768px){
    #application .card:first-child{
        display: flex;
    }

    #application .container{
        justify-content: space-between;
    }

    .card{
        flex-basis: calc(100% / 3 - 2%);
    }

    #application .card:first-child{
        flex-basis: calc(66.66% - 1%);
    }  

    .partcard{
        display: flex;
        align-items: center;
        text-align: left;
    }

    .partcard img{
        margin-right: 1.3rem;
    }

    .allcards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-ben{
        width: calc(100% / 2 - 3%);
    }

    #aboutus .container{
        display: flex;
    }

    .img-au{
        padding-top: 3.5rem;
        margin-left: 3rem;
    }

    .img-au div{
        font-size: 1.5rem;
    }

}

/* desktop */
@media screen and (min-width: 998px){
    .menu{
        display: block;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .menu li{
        margin-left: 15px;
    }

    #burger{
        display: none;
    }

    #application .card:first-child{
        display: flex;
    }

    #planning .col{
        flex-basis: 50%;
    }

    .col-white{
        align-self: flex-end;
    }  

    .col-white-img{
        width: 50%;
    }

    .allcards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-ben{
        width: calc(100% / 3 - 3%);
    }

    .container, .container-1000{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .containersmall{
        padding-left: 18rem;
        padding-right: 18rem;
    }

}